@require '../../shared/helpers.styl'

.location-details
    position: absolute
    top: 0
    right: 0
    height: 100vh
    width: 300px
    overflow: auto
    background-color white

    img
        max-width 100%